input {
    keyboard {
        xkb {
            options "compose:ralt,caps:super"
            layout "us"
        }

        numlock
    }

    touchpad {
        tap
        dwt
        natural-scroll
    }

    mouse {
    }

    trackpoint {
    }
}

cursor {
    xcursor-theme "Adwaita"
    xcursor-size 24
}

output "eDP-1" {
    scale 1.33
}

output "Dell Inc. DELL S3422DWG CGS4KK3" {
    mode "3440x1440@119.991"
    position x=0 y=0
}

layout {
    gaps 16
    center-focused-column "never"

    preset-column-widths {
        proportion 0.25
        proportion 0.33333
        proportion 0.4
        proportion 0.5
        proportion 0.6
        proportion 0.66667
        // fixed 1920
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        off
    }

    border {
        width 4
        active-gradient from="#0BD67E" to="#00C0A3" angle=45
        inactive-gradient from="#505050" to="#404040" angle=45
        urgent-color "#9b0000"
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#004c4170"
        inactive-color "#0007"
    }
    struts {
        left 20
        right 20
    }
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d %H-%M-%S.png"

animations {
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    border {
        active-color "#FDA900"
        inactive-color "#C4880E"
    }

    shadow {
        color "#FDA900"
    }

    tab-indicator {
        active-color "#FDA900"
        inactive-color "#C4880E"
    }
}

// lxqt-policykit-agent does not have app_id on NixOs: https://github.com/lxqt/lxqt/discussions/2559
window-rule {
    match title="Authentication Required"
    open-floating true
}

window-rule {
    match title="nmtui"
    open-floating true
    max-width 800
    max-height 600
}

window-rule {
    match app-id="org.gnome.Calculator"
    open-floating true
}

// Work around WezTerm's initial configure bug by setting an empty default-column-width.
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Super+Escape hotkey-overlay-title="Lock the Screen" { spawn-sh "loginctl lock-session"; }
    Mod+T        hotkey-overlay-title="Open a Terminal" { spawn "kitty"; }
    Mod+D        hotkey-overlay-title="Open Application List" { spawn-sh "wofi --prompt Search... --width 450"; }
    Mod+N        hotkey-overlay-title="Open SwayNC" { spawn-sh "swaync-client -t"; }
    Mod+M        hotkey-overlay-title="Open Pulsemixer" { spawn-sh "kitty --title pulsemixer -- pulsemixer"; }
    Mod+S        hotkey-overlay-title="Switch Light/Dark Theme" { spawn-sh "niri msg action do-screen-transition && [[ $(gsettings get org.gnome.desktop.interface color-scheme | grep light) ]] && gsettings set org.gnome.desktop.interface color-scheme prefer-dark || gsettings set org.gnome.desktop.interface color-scheme prefer-light"; }
    Mod+Shift+P  hotkey-overlay-title="Show Power Menu" { spawn-sh "$NIRI_SCRIPTS/wofi_power.sh"; }
    Mod+Shift+O  hotkey-overlay-title="Toggle laptop monitor" allow-when-locked=true { spawn-sh "$NIRI_SCRIPTS/toggle_internal_output.sh"; }

    Print      { spawn-sh "$NIRI_SCRIPTS/screenshot.sh"; }
    Ctrl+Print { spawn-sh "$NIRI_SCRIPTS/screenshot_full.sh"; }
    Alt+Print  { screenshot-window; }
    Mod+Print  { spawn-sh "kitty $NIRI_SCRIPTS/screenrec.sh"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPause       allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    Ctrl+F12             allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86MonBrightnessUp    allow-when-locked=true { spawn-sh "brightnessctl set +5%"; }
    XF86MonBrightnessDown  allow-when-locked=true { spawn-sh "brightnessctl set 5%-"; }

    Mod+E repeat=false { toggle-overview; }

    Mod+Shift+Q { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down-or-to-workspace-down; }
    Mod+Shift+Up    { move-window-up-or-to-workspace-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Home       { focus-column-first; }
    Mod+End        { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    Mod+Ctrl+Left  { focus-monitor-left; }
    Mod+Ctrl+Down  { focus-monitor-down; }
    Mod+Ctrl+Up    { focus-monitor-up; }
    Mod+Ctrl+Right { focus-monitor-right; }
    Mod+Ctrl+H     { focus-monitor-left; }
    Mod+Ctrl+J     { focus-monitor-down; }
    Mod+Ctrl+K     { focus-monitor-up; }
    Mod+Ctrl+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown       cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp         cooldown-ms=150 { focus-workspace-up; }
    Mod+WheelScrollRight                      { focus-column-right; }
    Mod+WheelScrollLeft                       { focus-column-left; }
    Mod+Shift+WheelScrollDown                 { focus-column-right; }
    Mod+Shift+WheelScrollUp                   { focus-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+F1 { focus-workspace 5; }
    Mod+F2 { focus-workspace 6; }
    Mod+F3 { focus-workspace 7; }
    Mod+F4 { focus-workspace 8; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+F1 { move-column-to-workspace 5; }
    Mod+Shift+F2 { move-column-to-workspace 6; }
    Mod+Shift+F3 { move-column-to-workspace 7; }
    Mod+Shift+F4 { move-column-to-workspace 8; }

    Mod+Tab { focus-workspace-previous; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Shift+V { toggle-window-floating; }
    Mod+V       { switch-focus-between-floating-and-tiling; }
    Mod+P       { spawn-sh "nirius toggle-follow-mode"; }

    Mod+W { toggle-column-tabbed-display; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Ctrl+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
}

environment {
    NIRI_SCRIPTS "/home/acosta/.config/niri/scripts"
}

spawn-at-startup "waybar"
spawn-at-startup "swaync"
spawn-at-startup "gammastep"
spawn-at-startup "lxqt-policykit-agent"
spawn-sh-at-startup "swaybg -m fill -i ~/.config/niri/wallpaper"
spawn-sh-at-startup "$NIRI_SCRIPTS/idle_handler.sh 300 340"
spawn-sh-at-startup "$NIRI_SCRIPTS/set_theme.sh"
spawn-sh-at-startup "$NIRI_SCRIPTS/extra_startup_apps.sh"
