/*
 * vim: ft=less
 */

@define-color way-background #3b4252;
@define-color way-widget-background #2e3440;
@define-color way-text #eceff4;
@define-color way-selected-text #8fbcbb;
@define-color way-soft-text #d8dee9;
@define-color way-attention-text #bf616a;
@define-color way-warning-text #ebcb8b;


* {
    border:        none;
    border-radius: 0;
    font-size:     13px;
    box-shadow:    none;
    transition-duration: 0s;
}

window#waybar {
    background: @way-background;
    color: @way-text;
}

#workspaces {
    margin-right: 10px;
    border-bottom-right-radius: 10px;
}

#workspaces button {
    border-top:     2px solid rgba(0, 0, 0, 0);
    border-bottom:  2px solid rgba(0, 0, 0, 0);
    padding: 0 5px;
    color: @way-soft-text;
}

#workspaces button.visible {
    color: @way-selected-text;
}

#workspaces button:hover {
    color: @way-soft-text;
    background: rgba(0x88, 0xc0, 0xd0, 0.7);
}

#workspaces button.active {
    border-top-color: @way-selected-text;
}

#workspaces button.urgent {
    background: rgba(0xff, 0x00, 0x00, 0.7);
}

#workspaces button.empty {
    opacity: 0.5;
}

#workspaces, #privacy, #clock, #tray, #custom-upower, #bluetooth,
#pulseaudio, #idle_inhibitor, #network, #custom-cpu, #custom-notification {
    padding: 0px 15px 0px 15px;
    margin: 4px 3px 4px 3px;
    min-width: 15px;
    background: @way-widget-background;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px inset;
}

#mpris, #custom-nixos-updates, #window {
    color: @way-soft-text;
    padding: 0px 15px 0px 15px;
}

#custom-nixos-updates.failed, #custom-nixos-updates.unknown  {
    color: @way-attention-text;
}

#network, #custom-cpu {
    min-width: 50px;
}

#pulseaudio {
    min-width: 65px;
}

#pulseaudio.source-muted {
    color: @way-attention-text;
}

#custom-upower.low {
    color: @way-attention-text;
}

#custom-cpu.critical {
    color: @way-attention-text;
}

#custom-cpu.warning {
    color: rgba(255, 210, 4, 1);
}

#custom-recorder {
    font-size: 18px;
    margin: 2px 7px 0px 7px;
    color: @way-attention-text;
}

