* {
    border:        none;
    border-radius: 0;
    font-family:   "Ubuntu Nerd Font", "Ubuntu";
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.00);
}
window#waybar {
    background: #292b2e;
    color: #fdf6e3;
}

window#waybar.solo {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.85);
}

#workspaces {
    border-bottom-right-radius: 10px;
}

#workspaces button {
    padding:    0 5px;
    color:      rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button:hover {
    background: rgba(217, 216, 216, 0.2);
}

#workspaces button.focused {
    border-top: 3px solid rgba(217, 216, 216, 1);
    border-bottom: 3px solid rgba(217, 216, 216, 0);
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#mode {
    color:      rgba(238, 46, 36, 1);
    background: #353535;
    font-family: "Ubuntu";
    margin-left: 10px;
    padding: 0px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#custom-spotify, #tray {
    font-family: "Ubuntu";
}

#workspaces, #clock, #tray, #custom-system-updates, #backlight, #custom-upower, #pulseaudio, #idle_inhibitor, #custom-power_menu, #network {
    background: #353535;
}

#mode {
    min-width:  25px;
}

#tray {
    border-bottom-left-radius: 10px;
}

#custom-power_menu {
    padding:    0px 10px 0px 5px;
}

#custom-system-updates, #backlight, #idle_inhibitor {
    padding:    0px 5px;
}

#tray, #custom-spotify, #custom-spotify_next, #network, #custom-upower, #pulseaudio {
    padding:    0px 15px 0px 15px;
    min-width:  25px;
}

#custom-upower.low {
    color: red;
}

#custom-system-updates.update {
    color: cyan;
}

#custom-system-updates.restart {
    color: red;
}

#clock {
    padding: 0px 15px;    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}