* {
    border:        none;
    border-radius: 0;
    font-family:   "Ubuntu Nerd Font", "Ubuntu";
    font-size:     13px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.00);
}
window#waybar {
    background: #292b2e;
    color: #fdf6e3;
}

window#waybar.solo {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.85);
}

#workspaces {
    border-bottom-right-radius: 10px;
}

#workspaces button {
    border-top:     2px solid rgba(0, 0, 0, 0);
    border-bottom:  2px solid rgba(0, 0, 0, 0);
    padding:        0 5px;
    color:          rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
    color: rgba(217, 216, 216, 1);
}

#workspaces button:hover {
    background: rgba(217, 216, 216, 0.2);
}

#workspaces button.focused {
    border-top-color:       rgba(217, 216, 216, 1);
    border-bottom-color:    rgba(217, 216, 216, 0);
}

#workspaces button.urgent {
    color:      rgba(255, 46, 36, 1);
}

#mode {
    color:      rgba(255, 46, 36, 1);
    background: #353535;
    font-family: "Ubuntu";
    margin-left: 10px;
    padding: 0px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#custom-spotify, #tray {
    font-family: "Ubuntu";
}

#workspaces, #clock, #custom-pomo, #tray, #custom-system-updates, #custom-vpn, #backlight, #custom-upower, #custom-mic, #pulseaudio, #idle_inhibitor, #network, #custom-cpu, #temperature {
    background: #353535;
}

#mode {
    min-width:  25px;
}

#tray {
    border-bottom-left-radius: 10px;
}

#custom-mic, #custom-upower.high, #custom-system-updates, #custom-vpn, #backlight, #idle_inhibitor {
    padding:    0px 5px;
}

#tray {
    padding:    0px 15px 0px 15px;
}

#custom-spotify_next, #network, #custom-upower.low, #custom-upower.mid, #pulseaudio, #custom-cpu, #temperature {
    padding:    0px 10px 0px 10px;
    min-width:  50px;
}

#custom-upower.low {
    color: red;
}

#custom-system-updates.update {
    color: cyan;
}

#custom-system-updates.restart {
    color: red;
}

#custom-vpn.disconnected {
    font-size: 0;
    padding: 0px;
}

#custom-vpn.connected {
    color: cyan;
}

#clock {
    padding-left: 15px;
    border-bottom-left-radius: 10px;
}

#custom-pomo {
    padding-left: 10px;
    padding-right: 15px;    
    border-bottom-right-radius: 10px;
}

#custom-pomo.break {
    color:      rgba(60, 200, 60, 1);
}

#temperature.critical {
    color:      rgba(255, 46, 36, 1);
}

#custom-cpu.critical {
    color:      rgba(255, 46, 36, 1);
}
#custom-cpu.warning {
    color:      rgba(255, 210, 4, 1);
}