* {
    border:        none;
    border-radius: 0;
    font-family:   "Ubuntu Nerd Font", "Ubuntu";
    font-size:     13px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window#waybar {
    background: #353c4a;
    color: #d8dee9;
}

#workspaces, #mode, #clock, #custom-pomo, #tray, #custom-system-updates, #backlight, #custom-upower, #custom-power_headset, #custom-mic, #pulseaudio, #idle_inhibitor, #network, #custom-cpu, #temperature {
    background: #2e3440;
}

#workspaces {
    border-bottom-right-radius: 5px;
}

#workspaces button {
    border-top:     2px solid rgba(0, 0, 0, 0);
    border-bottom:  2px solid rgba(0, 0, 0, 0);
    padding: 0 5px;
    color: #8e95a4;
}

#workspaces button.visible {
    color: #75bccf;
}

#workspaces button:hover {
    color: #d8dee9;
    background: rgba(0x88, 0xc0, 0xd0, 0.7);
}

#workspaces button.focused {
    border-top-color: #88c0d0;
}

#mode {
    color: #88c0d0;
    font-family: "Ubuntu";
    margin-left: 10px;
    padding: 0px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width:  25px;
}

#custom-spotify, #tray {
    font-family: "Ubuntu";
}

#tray {
    border-bottom-left-radius: 5px;
}

#custom-mic, #custom-upower.high, #custom-system-updates, #backlight, #idle_inhibitor {
    padding:    0px 5px;
}

#tray {
    padding:    0px 10px 0px 15px;
}

#custom-power_headset {
    padding:    0px 10px 0px 0px;
}

#custom-spotify_next, #network, #custom-upower.low, #custom-upower.mid, #pulseaudio, #custom-cpu, #temperature {
    padding:    0px 10px 0px 10px;
    min-width:  50px;
}

#custom-power_headset.low {
    color: #c21b2c;
}

#custom-power_headset.mid {
    color: rgba(255, 210, 4, 1);;
}

#custom-upower.low {
    color: #c21b2c;
}

#custom-system-updates.update {
    color: #5dbcd6;
}

#custom-system-updates.restart {
    color: #c21b2c;
}

#clock {
    padding-left: 15px;
    border-bottom-left-radius: 5px;
}

#custom-pomo {
    padding-left: 10px;
    padding-right: 15px;    
    border-bottom-right-radius: 5px;
}

#custom-pomo.break {
    color:      rgba(60, 200, 60, 1);
}

#temperature.critical {
    color:  #c21b2c;
}

#custom-cpu.critical {
    color:  #c21b2c;
}
#custom-cpu.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-mic.muted {
    color:  #c21b2c;
}

#custom-recorder {
	font-size: 18px;
	margin: 2px 7px 0px 7px;
	color: #c21b2c;
}